body {
    background-color: coral;
}

.header h1 {
    text-align: center;
    font-family: 'Yellowtail', cursive;
    background-color: cyan;
    color: coral;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
    margin: 0 auto;
    margin-right: 33%;
    margin-left: 33%;
    margin-bottom: 50px;
    border: inset;
}

.fas {
    margin-left: 15px;
}

.navbar {
    font-family: 'Yellowtail', cursive;
    background-color: cyan;
    color: coral;
    justify-content: center;
}



.row {
    padding-left: 7.5%;
    padding-right: 7.5%;
}

.items {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

.list {
    background-color: cyan;
    color: coral;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    border: inset;
}

.item {
    background-color: aquamarine;
    color: coral;
    background-color: cyan;
    border: inset;
}