#listDiv {
    margin-top: 25px;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}

#itemList {
    display: inline-block;
}

#clearList {
    margin-top: 25px;
}

.main {
    text-align: center;
}